/* document use: styling the tic tac toe webpage */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  background-image: url(../images/background.png);
}

.container {
  max-width: 500px;
  background-color: oldlace;
  margin: 0 auto;
  text-align: center;
  padding: 1em;
  padding-bottom: 100px;
  border-radius: 2em;
  font-family: 'Fredoka One', cursive;
}

header {
  color: slategrey;
  margin: 0 auto;
  text-align: center;
  line-height: 5px;
  padding-bottom: 30px;
}

aside img {
  position: relative;
  width: 50px;
  height: 50px;
  list-style: 50px;
  margin-bottom: 20px;
}

table {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

td {
  text-align: center;
  border: 3px solid black;
  border-collapse: collapse;
  width: 100px;
  height: 100px;
}

.selectO {
  border: 3px solid red;
}

.selectX {
    border: 3px solid red;
}

/* use the below class when someone selects the X or O image*/
table img {
  position: relative;
  width: 100px;
  height: 100px;
}
/* below box appears over the top of the page until user clicks again */
.GAMEOVER {
  background-image: url(../images/GAMEOVER.jpeg);
  background-size: cover;
  color: white;
  position: absolute;
  margin: 0 auto;
  height: 200px;
  width: 400px;
  line-height:
  padding: 70px;
}
