/* document use: styling the tic tac toe webpage */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.container {
  max-width: 960px;
  background-color: grey;
  margin: 0 auto;
  text-align: center;
  padding: 1em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  font-family: 'Fredoka One', cursive;
}

header {
  color: #F5F730;
  margin: 0 auto;
  text-align: center;
  line-height: 5px;
  padding-bottom: 30px;
}

aside img {
  position: relative;
  width: 50px;
  height: 50px;
  list-style: 50px;
  margin-bottom: 20px;
}

table {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

td {
  text-align: center;
  border: 3px solid black;
  border-collapse: collapse;
  width: 100px;
  height: 100px;
}

.selectO {
  border: 3px solid red;
}

.selectX {
    border: 3px solid red;
}


/* use the below class when someone selects a square*/
table img {
  position: relative;
  width: 100px;
  height: 100px;
}
